body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}

a {
    color: blue;
    text-decoration: underline;
}

div {
    text-align: center;
    color: #fff; 
    background-color: #ff4444; 
    padding: 10px; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}
