body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; 
}

header {
    background-color: rgb(21, 185, 144);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Создаем три равные колонки */
    gap: 20px; /* Отступ между колонками */
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
   
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease; 
    
}

.product {
    display: inline-block;
    margin-right: 20px; /* Добавьте отступы между блоками */
}

.product {
    width: 300px; /* Установите желаемую ширину */
    height: auto; /* Разрешаем высоту автоматически подстраиваться под содержимое */
    text-align: center; /* Центрируем содержимое внутри блока */
}



 .product img {
    width: 200px; /* задаем фиксированную ширину */
     height: auto; /* автоматически подстраиваем высоту, чтобы сохранить пропорции */
}





.product h2 {
    margin-top: 0;
}



.cent {
text-align: center;

}

.link {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.copy-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

footer{

    background-color: rgb(21, 185, 144);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
