/* Общие стили */

@media only screen and (max-width: 768px) {
   
    .container {
        display: grid;
        grid-template-columns: repeat(1, 0.4fr);
        grid-gap: 20px; /* настройка промежутков между элементами в grid */
        padding: 20px;
      }
    }
      /* Медиа-запрос для мобильных устройств */
      @media only screen and (max-width: 768px) {
        .container {
          grid-template-columns: repeat(1, 1fr); /* изменяем на один столбец на всю ширину */
        }
      
        header, footer {
          /* Добавляем стили для header и footer под мобильные устройства */
          padding: 10%;
          text-align: center;
        }
    
    
        
      }
      
    
    
      
        footer {
            margin-top: 20px; /* Устанавливаем отступ сверху */
      }
      
      /* Медиа-запрос для мобильных устройств на странице acc.php */
      @media only screen and (max-width: 768px) {
        footer {
          margin-top: 40px; /* Устанавливаем больший отступ сверху для мобильных устройств */
        }
      }
    
    
    
    