@media only screen  and (max-width: 1200px) {
   .container {
    display: block; /* Изменяем display на block, чтобы не использовать grid в мобильной верстке */
    grid-gap: 20px; /* настройка промежутков между элементами в grid */
    padding: 20px;
    justify-content: center;
  } 
}

  
  /* Медиа-запрос для мобильных устройств */
  @media only screen and (max-width: 768px) {
    .container {
      display: grid; /* Используем grid только в мобильной верстке */
      grid-template-columns: repeat(1, 1fr); /* изменяем на один столбец на всю ширину */
    }
  
    header, footer {
      /* Добавляем стили для header и footer под мобильные устройства */
      padding: 10px;
      text-align: center;
    }
  }